body {
  background-color: black;
}

.button {
  background-color: #4CAF50; /* Green */
  border-radius: 4px;
  color: black;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  transition-duration: 0.1s;
}

.button:hover {
  background-color: white;
  color: black;
}  



#header {
  text-align: center; 
  color: whitesmoke;
  
  font-family: "Candara";

  margin-top: 40px;
  font-size: 40;
}

#p1 {

  position: relative; 
  color:white;
  text-align: right;
  font-family: "Candara";
  top: 50px;
  font-size: 20;
  text-align: left;
  z-index: -1;
  margin-top: 50px;
  margin-left: 50px; 
  margin-right: 300px;
}

.navbardiv{
  position: sticky;
  top: 0;
  margin-top: 30px;
  margin-right: 20px;
}

#NaviHeader{
  font-size: 20px;
  font-family: "Candara";
  
}

#navdata{
  color: blue;
  font-family: "Candara";
  
}
#navdata:hover{
  color: black; 
}

#navibar{
  font-size: 20; 
}

.textcontainer{
  width: 97%;
}


#images{
  position: relative;
  left:50px;
  top: 43px;
  z-index: -2; 
  
 
}

.next{
  float:left; 
  width: 20px; 
  height: 20px;
  position: fixed;
  font-size: 20px; 
 
  color: white;
  top: 650px; 
  right: 60px;
}

#nextimg{
  float:left;
  width: 50px;
  height:50px;
  opacity: 50%;
  
}

#nextimg:hover{
  opacity: 100%;
}

#specnavdata{
  text-align: left;
  font-family: "Candara"
}

.headerdiv{
  background-color: black;
  left: 50vh; 
  right: 50vh;
  top:-100px;
  margin: 10px;
  z-index: 3; 
  opacity: 90%;
  
}

.introhead{
  text-align: center; 
  color: whitesmoke;
  padding: 10px;
  font-family: "Candara";

  margin-top: 40px;
  font-size: 40; 
  color: white;
  margin-top: 40px;
  font-size: 40;
}

.sources{
  position: relative;
  top: 50px;
}

#source{
  
  position: relative; 
  color:white;
  text-align: right;
  font-family: "Candara";
  top: 50px;
  font-size: 20;
  text-align: left;
  z-index: -1;
  
  left: 10px;
}

.sourcecont{
  position: relative;
  
  width: 1000px;
  left: 35px;
}

.video{
  position: relative;
  left: 60px;
}


