body {
  background-color: black;
  scroll-behavior: smooth;
}

.button {
  background-color: #4CAF50; /* Green */
  border-radius: 4px;
  color: black;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  font-size: 10px;
  transition-duration: 0.1s;
}

.button:hover {
  background-color: white;
  color: black;
}  



#header {
  text-align: center; 
  color: whitesmoke;
  transition: all 1s;
  font-family: "Candara";

  margin-top: 40px;
  font-size: 40;
}

.rule{
  border-radius: 20px;
  color: white; 
  z-index: 1; 
  margin: 0 auto;
 
  position: relative; 
}



#p1 {

  position: relative; 
  color:white;
  text-align: right;
  font-family: "Candara";
  top: 50px;
  font-size: 20;
  text-align: left;
  z-index: -1;
  margin-top: 50px;
  margin-left: 50px; 
  margin-right: 300px;
}

.navbardiv{
  position: sticky;
  top: 0;
  margin-top: 30px;
  margin-right: 20px;
  z-index: 5; 
  width: 100%;
}

#NaviHeader{
  font-size: 20px;
  font-family: "Candara"; 
}

.hr{
  position: relative; 
  top: 40px;
  width: 203vh;
  border-width: 0.01px;
  background-color: #080808;
}

#navdata{
  color: black;
  font-family: "Candara";
  background-color: white;
  transition: all 0.75s;
}
#navdata:hover{
  color: white; 
  background-color: black;
  transition: all 0.75s;

}

#navibar{
  font-size: 20; 
 
 
}

.textcontainer{
  width: 100%;
}


#images{
  position: relative;
  left:50px;
  top: 43px;
  z-index: -2; 
  
}

html{
  scroll-behavior: smooth;
}

.next{
  scroll-behavior: smooth;
  float:right; 
  width: 30px; 
  height: 30px;
  position: fixed;
  font-size: 20px; 
  margin-right: 20px;
  color: white;
  
  top: 20px;
  right: 20px;
  z-index: 10;
}

#nextimg{
  float:left;
  width: 50px;
  height:50px;
  opacity: 95%;
  margin-right: 100px;
  
}

#nextimg:hover{
  opacity: 100%;
}

#specnavdata{
  text-align: left;
  font-family: "Candara";
}

.headerdiv{
  background-color: black;
  left: 50vh; 
  right: 50vh;
  top:-100px;
  text-align: left;
  z-index: 3; 
  opacity: 90%;
  width: 100%;
  
}

.navibardiv{
  margin-right: 20px;
}

.introhead{
  text-align: left; 
  color: whitesmoke;
  padding: 10px;
  font-family: "Candara";

  margin-top: 40px;
  font-size: 40; 
  color: white;
  margin-top: 40px;
  font-size: 40;
}

.sources{
  position: relative;
  top: 50px;
}

#source{
  
  position: relative; 
  color:white;
  text-align: right;
  font-family: "Candara";
  top: 50px;
  font-size: 20;
  text-align: left;
  z-index: -1;
  
  left: 10px;
}

.sourcecont{
  position: relative;
  
  width: 1000px;
  left: 35px;
}

.video{
  position: relative;
  left: 40px;
  top: 50px;
}

.introhead{
  text-align: center; 
  
}

.specimg{
  top: 10px;
}

.nav{
  border-radius: 20px;
}







.sprite_twit {
	background: url('../images/css_sprites-removebg-preview.png') no-repeat -404px -326px;
	width: 45px;
	height: 49px;
  

  
}

.sprite_twit:hover{
  background: url('../images/css_sprites-removebg-preview.png') no-repeat -404px -26px;
	width: 50px;
	height: 49px;
}


.sprite_facebook {
	background: url('../images/css_sprites-removebg-preview.png') no-repeat -44px -326px;
	width: 50px;
	height: 49px;
}

.sprite_facebook:hover{
  background: url('../images/css_sprites-removebg-preview.png') no-repeat -44px -26px;
	width: 50px;
	height: 49px;
}

.sprite_youtube {
	background: url('../images/css_sprites-removebg-preview.png') no-repeat -344px -326px;
	width: 50px;
	height: 49px;
}

.sprite_youtube:hover{
  background: url('../images/css_sprites-removebg-preview.png') no-repeat -344px -26px;
	width: 50px;
	height: 49px;
}


.spritediv{
  position: sticky; 
  display: block;
  top: 600px;
  float: right;
  z-index: 100000000000000000000000000000000;
  margin-right: -270px;
}


.navdiv {
  border-radius: 50px;
}